export SECRET_KEY_BASE="your_secret_key_base_here"
export PORT=4000
export PHX_HOST="your_domain.com"
export PHX_SCHEME="http"
export CURATORIAN_GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxx
export CURATORIAN_GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxx
export CURATORIAN_REDIRECT_URI=http://localhost:4000/auth/google/callback
export CURATORIAN_DATABASE_URL=postgres://user:password@localhost:5432/curatorian_prod
export CURATORIAN_SMTP_USERNAME="your_smtp_username"
export CURATORIAN_SMTP_PASSWORD="your_smtp_password"