<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Where the Curators Meet">
      {assigns[:page_title] || "Curatorian"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="shortcut icon" type="image/x-icon" href={~p"/images/icon.png"} />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.1.12/dist/trix.css" />
    <script type="text/javascript" src="https://unpkg.com/trix@2.1.12/dist/trix.umd.min.js">
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white w-full">
    {@inner_content}
  </body>
</html>
