<section class="h-full h-min-screen">
  <h2>Profile Information</h2>
  
  <p><strong>Email:</strong> {@current_user.email}</p>
  
  <p><strong>Joined:</strong> {@current_user.inserted_at}</p>
</section>

<section>
  <h2>Default User</h2>
</section>
