<.header>
  New Blog
  <:subtitle>Use this form to manage blog records in your database.</:subtitle>
</.header>

<.blog_form changeset={@changeset} action={~p"/blogs"} />

<.back navigate={~p"/blogs"}>Back to blogs</.back>
